Options -Indexes

<IfModule mod_rewrite.c> 
RewriteEngine on

#RewriteRule ^backend(.+)?$ backend/web/$1 [L,PT]
#RewriteRule ^(.+)?$ frontend/web/$1 [L]
RewriteCond %{HTTP_REFERER} !^http://(www\.)?localhost [NC] 
RewriteCond %{HTTP_REFERER} !^http://(www\.)?localhost.*$ [NC] 
RewriteRule \.(jpe?g|gif|bmp|png)$ - [F]
</IfModule>

# Deny accessing dot files
RewriteRule (^\.|/\.) - [F]